# The very best challenge like no one ever was!

# Notebook di preparazione

Osserviamo i dati e creiamo i due file di train e di test

In [1]:
!pip install pandas
!pip install sklearn

Requirement already satisfied: pandas in /home/gabriele/anaconda3/envs/pokemon_challenge/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in /home/gabriele/anaconda3/envs/pokemon_challenge/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/gabriele/anaconda3/envs/pokemon_challenge/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in /home/gabriele/anaconda3/envs/pokemon_challenge/lib/python3.8/site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /home/gabriele/anaconda3/envs/pokemon_challenge/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: sklearn in /home/gabriele/anaconda3/envs/pokemon_challenge/lib/python3.8/site-packages (0.0)
Requirement already satisfied: scikit-learn in /home/gabriele/anaconda3/envs/pokemon_challenge/lib/python3.8/site-packages (from sklearn) (0.24.2)
Requirement already satisfied: joblib>=0.11 in /home/gabriele/anaconda3/envs/pokemon_challenge/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in /home/gabriele/anaconda3/envs/pokemon_challenge/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.6.3)
Requirement already satisfied: numpy>=1.13.3 in /home/gabriele/anaconda3/envs/pokemon_challenge/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/gabriele/anaconda3/envs/pokemon_challenge/lib/python3.8/site-packages (from scikit-learn->sklearn) (2.1.0)

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
combats_path = './combats.partial.csv'
pokemons_path = './pokemon.csv'

combats_data = pd.read_csv(combats_path)
poke_data = pd.read_csv(pokemons_path)

In [4]:
combats_data.head()

   Winner  First_pokemon  Second_pokemon
0     650            650             579
1     151            151             558
2     340            340             631
3     139            688             139
4     132            365             132

In [5]:
poke_data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

Tutto questo è bellissimo

Ora facciamo dei controlli su eventuali dati mancanti o su come rimediare per i pokemon di un solo tipo

In [6]:
poke_data.iloc[4, 3]

nan

In [7]:
poke_data.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [8]:
poke_data["Type 2"].astype("str").iloc[4]

'nan'

In [9]:
poke_data.isna().sum()

#               0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [10]:
poke_data.loc[poke_data["Name"].isna(), "Name"]

62    NaN
Name: Name, dtype: object

In [11]:
poke_data.iloc[61:64]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
61,62,Mankey,Fighting,NaN,40,80,35,35,45,70,1,False
62,63,NaN,Fighting,NaN,65,105,60,60,70,95,1,False
63,64,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False

Attenzione: manca Primeape, l'evoluzione di Mankey! Possiamo recuperarlo nel notebook di training, ma tanto il nome non influisce nella lotta

In [12]:
combats_data.dtypes

Winner            int64
First_pokemon     int64
Second_pokemon    int64
dtype: object

In [13]:
combats_data.isna().sum()

Winner            0
First_pokemon     0
Second_pokemon    0
dtype: int64

## Split del dataset in train e test

La ragione scelta per lo split è 70-15-15.
Il 15% dei dati andrà nel file di test.
L'85% dei dati andrà nel file di training.
Pertanto nel file di training, la porzione di training sarà circa dell'82% mentre la porzione per il validation sarà del 18%

In [14]:
train_data, test_data = train_test_split(combats_data, random_state=10, test_size=0.15)

path_train = './train.csv'
path_test = './test.csv'

train_data.to_csv(path_train, index=False)
test_data.to_csv(path_test, index=False)